#about {
    background: radial-gradient(#1d1d1d,#000000);
    color: white;
}

.hide-top-10 {
    position: absolute;
    top: 0%;
    height: 10vh;
}

.name-title {
    padding-top: 8vh;
    font-size: 2.5vw;
    text-align: center;
}

.image-container {
    text-align: center;
}

.image-container img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-top: 3vh;
}

.text-container {
    margin-top: 3vh;
    margin-right: 35vw;
    margin-left: 35vw;
    font-size: 1.3vw;
}

#main-info {
    padding-top: 50px;
}

#about-title {
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    border-bottom: 3px solid #000000;
    border-top: 3px solid #000000;
}

.master-language-container {
    width: 50vw;
}

.language-grid-flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
}

.language-container-flex {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.language-icon img {
    height: 100px;
    width: 100px;
}
