#about {
    background: radial-gradient(#1d1d1d,#000000);
    color: white;
}

.main-container {
    height: 100vh;
}

/*  */

                                                /* PICTURE STYLING START */

.image-container {
    position: absolute;
    left: 32vw;
    top: 400px;
}

.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
    cursor: pointer;
}
.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}
.hexagon-in2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../../assets/images/personal.jpg);
    visibility: visible;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

.hexagon2 {
    width: 550px;
    height: 440px;
}

                                        /* INTRO INFORMATION START */
.nameplate-container-wrapper {
    padding-top: 30vh;
    display: flex;
}

.green-filler {
    width: 20px;
    margin-left: 20px;
    background-color: #31fa1c;
}

.nameplate-container {
    width: 70%;
    padding-left: 20px;
}

.start-name-title {
    font-size: 30px;
}

.my-name {
    font-size: 90px;
    font-weight: 700;
    margin-top: -20px;
}

.dev-title {
    color: #31fa1c;
    font-size: 30px;
    font-weight: 500;
    margin-top: 40px;
}

.info {
    font-size: 15px;
}

.contact-flex-cont {
    display: flex;
    padding-top: 30px;
}

.contact-icon-text {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 40px;
    border: 3px solid #31fa1c;
    border-radius: 8px;
}

.contact-icon-container {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 30px;
}

.icon {
    height: 40px;
    width: 40px;
}

                                                    /* KNOWLEDGE SECTION */
#main-info {
    display: flex;
    flex-direction: row-reverse;
}

.green-filler-right {
    width: 20px;
    margin-right: 20px;
    background-color: #31fa1c;
}

#about-title {
    text-align: center;
    font-size: 100px;
    font-weight: 500;
    color: white;
}

#about-title:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 20px;
    border-bottom: 1px solid black;
}

#about-main-wrapper {
    padding-top: 8vh;
    padding-bottom: 8vh;
}

#lang-tech-frame-master {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5vw;
}

                                                        /* LANGUAGES BUTTONS AND CARD RENDERS */

.card-body {
    display: flex;
    align-items: center;
    width: 800px;
    height: 100px;
    background: radial-gradient(#1d1d1d,#000000);
    color: black;
    margin-top: 20px;
    padding: 0;
    border-radius: 8px;
}

.card-display-cont {
    display: grid;
    column-count: 2;
}

.skills-btns {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.skills-btns li {
    cursor: pointer;
    font-size: 2vw;
    border: 3px solid #31fa1c;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 30px;
}

.skills-btns li:hover {
    background-color: #31fa1c;
}

.card-context {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-title {
    padding-left: 40px;
    color: #31fa1c;
    font-size: 30px;
    font-weight: 600;
}

.card-name {
    padding-right: 40px;
}

.knowledge-master-container {
    border: 1px solid #31fa1c;
    width: 15vw;
    border-radius: 4px;
}

.knowledge-container-title {
    /*font-size: 20px;  UPON SMALLER SCREEN*/
    font-size: 30px;
}

.title-container {
    background-color: #31fa1c;
    color: #1d1d1d;
    font-weight: 600;
}

.inner-knowledge-info ul {
    /*font-size: 12px; UPON SMALLER SCREEN*/
    font-size: 18px;
    padding-left: 0;
    padding-top: 10px;
    list-style-type: none;
}

.knowledge-item {
    margin-top: 5px;
}

                                        /* Carousel Section */

.carousel-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 55vw;
    background-color: rgb(15, 15, 15);
    margin-top: 80px;
    box-sizing: border-box;
}

.carousel-wrapper {
    max-width: 1650px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-items {
    display: flex;
    gap: 50px;
    animation: carousel 20s linear infinite;
}

.carousel-img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

@keyframes carousel {
    0% {
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-300%);
    }
}

                                        /* Feature Skills Section */

#feature-title {
    text-align: center;
    font-size: 100px;
    font-weight: 500;
    color: white;
}

#feature-title:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 20px;
    border-bottom: 1px solid black;
}

/* .title-border-feature {
    transform: translateX(50vw);
    height: 3px;
    width: 100%;
    background-color: #000000;
} */

#projects-info {
    padding-top: 300px;
}

.bracket {
    font-size: 800px;
    width: 50px;
}

/*background: radial-gradient(100% 225% at 100% 0%, #FF0000 0%, #000000 100%), linear-gradient(236deg, #00C2FF 0%, #000000 100%), linear-gradient(135deg, #CDFFEB 0%, #CDFFEB 36%, #009F9D 36%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%);*/
/*background-blend-mode: overlay, hard-light, normal;*/