#about {
    background: radial-gradient(#1d1d1d,#000000);
    color: white;
    padding-top: 10vh;
}

.hide-top-10 {
    position: absolute;
    top: 0%;
    height: 10vh;
}

.name-title {
    padding-top: 8vh;
    font-size: 2.5vw;
    text-align: center;

}

.image-container {
    text-align: center;
}

.image-container img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-top: 3vh;
}

.text-container {
    margin-top: 3vh;
    margin-right: 35vw;
    margin-left: 35vw;
    font-size: 1.3vw;
}

.text-container p {
    color: #31fa1c;
}

#main-info {
    padding-top: 50px;
}

#about-title {
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    border-bottom: 3px solid #000000;
    border-top: 3px solid #000000;
}

#about-main-wrapper {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#lang-tech-frame-master {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5vw;
}

.knowledge-master-container {
    border: 1px solid white;
    width: 15vw;
    border-radius: 4px;
    border-color: #31fa1c;
}

.knowledge-container-title {
    font-size: 20px;
}

.title-container {
    background-color: #31fa1c;
    color: #1d1d1d;
    font-weight: 600;
}

.inner-knowledge-info ul {
    font-size: 12px;
    padding-left: 0;
    padding-top: 10px;
    list-style-type: none;
}

.knowledge-item {
    margin-top: 5px;
}

/*.container-s{*/
/*    width: 500px;*/
/*    position: absolute;*/
/*    transform: translate(-50%,-50%);*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    overflow: hidden;*/
/*    border: 10px solid #ffffff;*/
/*    border-radius: 8px;*/
/*    box-shadow: -1px 5px 15px black;*/
/*}*/

/*!*Area of images*!*/
/*.wrapper-s{*/
/*    width: 100%;*/
/*    display: flex;*/
/*    animation: slide 16s infinite;*/
/*}*/

/*img{*/
/*    width: 100%;*/
/*}*/
/*!*Animation activated by keyframes*!*/
/*@keyframes slide{*/
/*    0%{*/
/*        transform: translateX(0);*/
/*    }*/
/*    25%{*/
/*        transform: translateX(0);*/
/*    }*/
/*    30%{*/
/*        transform: translateX(-100%);*/
/*    }*/
/*    50%{*/
/*        transform: translateX(-100%);*/
/*    }*/
/*    55%{*/
/*        transform: translateX(-200%);*/
/*    }*/
/*    75%{*/
/*        transform: translateX(-200%);*/
/*    }*/
/*    80%{*/
/*        transform: translateX(-300%);*/
/*    }*/
/*    100%{*/
/*        transform: translateX(-300%);*/
/*    }*/
/*}*/