.footer {
    height: 10vh;
    background-color: black;
}

.pic {
    width: 3vw;
    height: 4vh;
}

.footer-container {
    position: relative;
    width: 20vw;
    height: 10vh;
    margin-left: 60vw;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    transform: translateY(70%);
}