.header-container {
    position: absolute;
    top: 6vh;
    transform:translateY(-50%);
    width: 95vw;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}

.name-container {
    transform: translateY(10%);
    margin-left: 5vw;
}

.name {
    font-size: 25px;
    font-weight: 600;
    color: #31fa1c;
}

.name:hover {
    text-decoration: none;
    color: white;
}

.navbar a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: center;
    margin-right: 60px;
}

.title {
    padding-right: 1.5vw;
    padding-left: 1.5vw;
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.title:hover {
    color: #31fa1c;
}

@media (max-width: 1500px) {

    .navbar {
        display: flex;
        justify-content: center;
        margin-right: 0;
    }

    .title {
        font-size: 13px;
        font-weight: 600;
        color: white;
        border: none;
    }
}