header {
    background-color: rgb(43, 51, 167);
}

.flex-container {
    position: absolute;
    top: 4vh;
    transform:translateY(-50%);
    display: flex;
    justify-content: space-between;
}

.name {
    font-size: 2.5vw;
    margin-left: 3.5vw;
    font-weight: 600;
    color: #31fa1c;
}

.name:hover {
    text-decoration: none;
    color: white;
}

.navbar a {
    text-decoration: none;
}

.navbar {
    left: 35vw;
    display: flex !important;
    justify-content: space-evenly !important;
}

.title {
    padding-right: 1.5vw;
    padding-left: 1.5vw;
    font-size: 2vw;
    font-weight: 600;
    color: #31fa1c;
    border-left: 2px solid white;
}

.title:hover {
    color: white;
}